.register-btn {
  color: rgb(0, 0, 0) !important ;
}
.count-down-area .count-down-wrapper .single-counter .counter {
  color: rgb(3, 185, 149);
}
.count-down-area .count-down-wrapper .single-counter p {
  color: rgb(3, 185, 149);
}
.box-color {
  padding: 1em;
  margin: 8px;
  width: 32%;
  background-color: rgba(37, 37, 37, 0.801);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}

.divider {
  width: 50px;
  height: 4px;
  background-color: rgb(3, 185, 149);
  margin-bottom: 10px;
}
.nav-button .nav-tabs .nav-link.active {
  color: rgb(3, 185, 149);
  border-bottom: 4px solid rgb(3, 185, 149);
}
.nav-button .nav-tabs .nav-link:hover {
  color: rgb(0, 129, 103);
  border-bottom: 4px solid rgb(1, 148, 119);
}
.card-body h4 {
  color: rgba(245, 245, 245, 0.904);
}

.card-body p {
  color: rgba(245, 245, 245, 0.904);
}


@media (max-width: 768px)  {
    
    /* Hero Caption */
    
    .hero-caption h1 {
        margin-top: 50%;
        margin-bottom: 0 !important;
    }

    /* Menu */

    .mobile_menu{
        z-index: -1;
    }

    .main-header{
        padding: 5px 30px !important;
    }

    /* .evenly{
        justify-content: space-evenly !important;
    }

    .evenly-width{
        width: 0;
    } */

    .header-sticky{
        bottom: 0px;
        margin-bottom: 650px;
    }
    
}

.main-box{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 15px;
}


